[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"
pyperclip = "*"

[packages]
tqdm = "*"
youtube-dl = "*"
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
urllib3 = "*"
nhentai-api = "==0.0.9"

[requires]
python_version <= "3.8"

[pipenv]
allow_prereleases = true
